@model dotnetapp.Models.Category

<h1>@Model.Name</h1>

@foreach (var book in Model.Books)
{
    <div class="book">
        <h2>@book.Title</h2>
        <p>Author: @book.Author</p>
        <p>Price: @book.Price</p>
        <a asp-controller="Book" asp-action="Details" asp-route-bookId="@book.Id">Details</a>
    </div>
}
